---
import "../styles/global.css";
import CarouselItem from "../components/CarouselItem.astro";
import Hero from "../components/Hero.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Hero />
		<div class="mb-10">
			<h2 class="mb-2">Carousel 1</h2>
			<CarouselItem />
		</div>
		<div class="mb-10">
			<h2 class="mb-2">Carousel 2</h2>
			<CarouselItem />
		</div>
	</body>
</html>

<script is:inline src="./node_modules/preline/preline.js"></script>
