<!-- Card Blog -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- <h2 class="text-base sm:text-lg font-semibold text-gray-800 dark:text-neutral-200">Components</h2> -->
  <br>
    <!-- Grid -->
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <slot />
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Card Blog -->